{% sw_extends '@Storefront/storefront/page/content/index.html.twig' %}

{% block cms_content %}
    {{ parent() }}
    <div>
        <h1>Swag AJAX Example</h1>

        <div data-ajax-helper>
            <div id="ajax-display"></div>
            <button id="ajax-button">Button</button>
        </div>
    </div>

    <div test-div>
        asdasdasd
    </div>

    <h2>Asset:</h2>

    {# Using asset function to display our custom asset #}
    <img src="{{ asset('bundles/ihorstorefrontplugin/images.jpg', 'asset') }}">


    {# We want to set our own icon here #}
    <h1>Custom icon:</h1>
    {% sw_icon 'checkmark' style {
        'size': 'lg',
        'pack': 'solid'
    } %}

    <h2>TRANSLATIONS</h2>
    <div class="product-detail-headline">
        {{ 'header.example' | trans }}
    </div>


    <div class="product-detail-headline">
        {{ 'soldProducts' | trans({'%count%': 3, '%country%': 'Germany'}) }}
    </div>

    Bootstrap Modal
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   SOME BODY
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    AjaxModalPlugin
    <button class="btn btn-primary"
            data-ajax-modal="true"
            data-url="https://example.org/ajax-url">
        Launch ajax modal
    </button>

    Pseudo Modal Utility
    <template pseudo-modal></template>
{% endblock %}