@import 'abstract/variables.scss';

body {
  background:  $sw-storefront-assets-color-background;
}

$sass-plugin-header-bg-color: #ffcc00 !default;

.header-main {
  background-color: $sass-plugin-header-bg-color;
}